{{#if cartItems}}
  <ul>
    {{#each cartItems}}
      <li style="margin-top:30px">
       <strong>seleccionado:</strong>  {{producto}} -<br>
       <strong> precio del producto:</strong>{{precio}} -<br>
     <strong>id del producto: </strong> {{productId}}
     <strong>Stock:</strong> {{stock}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No hay productos en el carrito</p>
{{/if}}